
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
body {
  --background-color: #18181B;
  --text-color: #A1A1AA;
  --card-background-color: rgb(248, 247, 247);
  --card-border-color: rgba(255, 255, 255, 0.1);
  --card-box-shadow-1: rgba(0, 0, 0, 0.05);
  --card-box-shadow-1-y: 3px;
  --card-box-shadow-1-blur: 6px;
  --card-box-shadow-2: rgba(0, 0, 0, 0.1);
  --card-box-shadow-2-y: 8px;
  --card-box-shadow-2-blur: 15px;
  --card-label-color: #FFFFFF;
  --card-icon-color: #D4D4D8;
  --card-icon-background-color: rgba(255, 255, 255, 0.08);
  --card-icon-border-color: rgba(255, 255, 255, 0.12);
  --card-shine-opacity: .1;
  --card-shine-gradient: conic-gradient(from 205deg at 50% 50%, rgba(16, 185, 129, 0) 0deg, #8CCBCD 25deg, rgba(52, 211, 153, 0.18) 295deg, rgba(16, 185, 129, 0) 360deg);
  --card-line-color: #2A2B2C;
  --card-tile-color:#8CCBCD ;
  --card-hover-border-color: rgba(255, 255, 255, 0.2);
  --card-hover-box-shadow-1: rgba(0, 0, 0, 0.04);
  --card-hover-box-shadow-1-y: 5px;
  --card-hover-box-shadow-1-blur: 10px;
  --card-hover-box-shadow-2: rgba(0, 0, 0, 0.3);
  --card-hover-box-shadow-2-y: 15px;
  --card-hover-box-shadow-2-blur: 25px;
  --card-hover-icon-color: #84654;
  --card-hover-icon-background-color: #8CCBCD;
  --card-hover-icon-border-color: #8CCBCD;
  --blur-opacity: .01;
}
body.light {
  --background-color: #FAFAFA;
  --text-color: #52525B;
  --card-background-color: transparent;
  --card-border-color: rgba(24, 24, 27, 0.08);
  --card-box-shadow-1: rgba(24, 24, 27, 0.02);
  --card-box-shadow-1-y: 3px;
  --card-box-shadow-1-blur: 6px;
  --card-box-shadow-2: rgba(24, 24, 27, 0.04);
  --card-box-shadow-2-y: 2px;
  --card-box-shadow-2-blur: 7px;
  --card-label-color: #18181B;
  --card-icon-color: #18181B;
  --card-icon-background-color: rgba(24, 24, 27, 0.04);
  --card-icon-border-color: rgba(24, 24, 27, 0.1);
  --card-shine-opacity: .3;
  --card-shine-gradient: conic-gradient(from 225deg at 50% 50%, rgba(16, 185, 129, 0) 0deg,#8CCBCD 25deg, #8CCBCD 285deg, #FFFFFF 345deg, rgba(16, 185, 129, 0) 360deg);
  --card-line-color: #E9E9E7;
  --card-tile-color: rgba(16, 185, 129, 0.08);
  --card-hover-border-color: rgba(24, 24, 27, 0.15);
  --card-hover-box-shadow-1: rgba(24, 24, 27, 0.05);
  --card-hover-box-shadow-1-y: 3px;
  --card-hover-box-shadow-1-blur: 6px;
  --card-hover-box-shadow-2: rgba(24, 24, 27, 0.1);
  --card-hover-box-shadow-2-y: 8px;
  --card-hover-box-shadow-2-blur: 15px;
  --card-hover-icon-color: #18181B;
  --card-hover-icon-background-color: rgba(24, 24, 27, 0.04);
  --card-hover-icon-border-color: rgba(24, 24, 27, 0.34);
  --blur-opacity: .1;
}
body.toggle .grid * {
  transition-duration: 0s ;
}

nav {
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem;
  z-index: 3;
  background-color: #bb9668b2;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin: 0 1rem;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight:200;
}
nav a:hover{
  color: #846540;
}
.button {
  background-color: #846540;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  margin-left: 1rem;
  transition: all 0.3s ease;
  
}

.button:hover {
  background-color: #fff;
  color: #846540;
}


.container {
  height: 100vh;
}
.container img {
  width: 100%;
  position: absolute;
  height: 110vh;
  object-fit: cover;
  z-index: -1;
}
.main-title {
  position: absolute;
  top: 30%;
  left: 50%;
  font-size: 6rem;
  transform: translate(-50%, -30%);
  color: #846540;
}
nav h4{
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 20px;
}
nav h4:hover{
  color: #846540;
}
.content {
  width: 100%;
  background:#846540;
  min-height: 100vh;
  z-index: 2;
  position: absolute;
}

.content-images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 60vh;
  text-align: center;
}

.text {
  
  font-size: 1.1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
  padding-bottom: 100px;
  color: rgb(5, 5, 5);
}
.container .girl{
width: 50%;
margin-left: 45%;
}

/* particles-js */
canvas {
  display: block;
  vertical-align:bottom;
} /* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}



.grid {
  display: grid;
  grid-template-columns: repeat(2, 240px);
  grid-gap: 32px;
  position: relative;
  z-index: 1;
}

.card {
  background-color: white;
  box-shadow: 0px var(--card-box-shadow-1-y) var(--card-box-shadow-1-blur) var(--card-box-shadow-1), 0px var(--card-box-shadow-2-y) var(--card-box-shadow-2-blur) var(--card-box-shadow-2), 0 0 0 1px var(--card-border-color);
  padding: 26px 16px 26px 10px;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  transition: box-shadow 0.25s;
  margin-top: 100px;
  left: 500px;
  justify-content: center;
  align-items: center;
  display: flexbox;
  margin-right: 0px;
  
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 15px;
  background-color: var(--card-background-color);
}
.card .icon {
  z-index: 2;
  position: relative;
  display: table;
  padding: 8px;
  
}
.card .icon::after {
  content: "";
  position: absolute;
  inset: 4.5px;
  border-radius: 50%;
  background-color:gray;
  border: 1px solid var(--card-icon-border-color);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  transition: background-color 0.25s, border-color 0.25s;
}
.card .icon svg {
  position: relative;
  z-index: 1;
  display: block;
  width: 24px;
  height: 24px;
  transform: translateZ(0);
  color: var(--background-color);
  transition: color 0.25s;
  
}
.card h4 {
  z-index: 2;
  position: relative;
  margin: 12px 0 4px 0;
  font-family: inherit;
  font-weight: 600;
  font-size: 20px;
  line-height: 2;
  color: var(--background-color);
}
.card p {
  z-index: 2;
  position: relative;
  margin: 0;
  font-size: 18px;
  line-height: 1.7;
  color: var(--text-color);
  padding-left: 20px;
padding-top: 0x;
}
.card .shine {
  border-radius: inherit;
  position: absolute;
  inset: 0;
  z-index: 1;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.5s;
  
}
.card .shine:before {
  content: "";
  width: 150%;
  padding-bottom: 150%;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  bottom: 55%;
  filter: blur(35px);
  opacity: var(--card-shine-opacity);
  transform: translateX(-50%);
  background-image: var(--card-shine-gradient);
}
.card .background {
  border-radius: inherit;
  position: absolute;
  inset: 0;
  overflow: hidden;
  -webkit-mask-image: radial-gradient(circle at 60% 5%, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 15%, transparent 60%);
  mask-image: radial-gradient(circle at 60% 5%, rgb(255, 255, 255) 0%, rgb(253, 251, 251) 15%, transparent 60%);
}
.card .background .tiles {
  opacity: 0;
  transition: opacity 0.25s;
}
.card .background .tiles .tile {
  position: absolute;
  background-color: var(--card-tile-color);
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  opacity: 0;
}
.card .background .tiles .tile.tile-4, .card .background .tiles .tile.tile-6, .card .background .tiles .tile.tile-10 {
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}
.card .background .tiles .tile.tile-3, .card .background .tiles .tile.tile-5, .card .background .tiles .tile.tile-8 {
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
}
.card .background .tiles .tile.tile-2, .card .background .tiles .tile.tile-9 {
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
}
.card .background .tiles .tile.tile-1 {
  top: 0;
  left: 0;
  height: 10%;
  width: 22.5%;
}
.card .background .tiles .tile.tile-2 {
  top: 0;
  left: 22.5%;
  height: 10%;
  width: 27.5%;
}
.card .background .tiles .tile.tile-3 {
  top: 0;
  left: 50%;
  height: 10%;
  width: 27.5%;
}
.card .background .tiles .tile.tile-4 {
  top: 0;
  left: 77.5%;
  height: 10%;
  width: 22.5%;
}
.card .background .tiles .tile.tile-5 {
  top: 10%;
  left: 0;
  height: 22.5%;
  width: 22.5%;
}
.card .background .tiles .tile.tile-6 {
  top: 10%;
  left: 22.5%;
  height: 22.5%;
  width: 27.5%;
}
.card .background .tiles .tile.tile-7 {
  top: 10%;
  left: 50%;
  height: 22.5%;
  width: 27.5%;
}
.card .background .tiles .tile.tile-8 {
  top: 10%;
  left: 77.5%;
  height: 22.5%;
  width: 22.5%;
}
.card .background .tiles .tile.tile-9 {
  top: 32.5%;
  left: 50%;
  height: 22.5%;
  width: 27.5%;
}
.card .background .tiles .tile.tile-10 {
  top: 32.5%;
  left: 77.5%;
  height: 22.5%;
  width: 22.5%;
}
@-webkit-keyframes tile {
  0%, 12.5%, 100% {
    opacity: 1;
  }
  25%, 82.5% {
    opacity: 0;
  }
}
@keyframes tile {
  0%, 12.5%, 100% {
    opacity: 1;
  }
  25%, 82.5% {
    opacity: 0;
  }
}
.card .background .line {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 0.35s;
}
.card .background .line:before, .card .background .line:after {
  content: "";
  position: absolute;
  background-color: var(--card-line-color);
  transition: transform 0.35s;
}
.card .background .line:before {
  left: 0;
  right: 0;
  height: 1px;
  transform-origin: 0 50%;
  transform: scaleX(0);
}
.card .background .line:after {
  top: 0;
  bottom: 0;
  width: 1px;
  transform-origin: 50% 0;
  transform: scaleY(0);
}
.card .background .line.line-1:before {
  top: 10%;
}
.card .background .line.line-1:after {
  left: 22.5%;
}
.card .background .line.line-1:before, .card .background .line.line-1:after {
  transition-delay: 0.3s;
}
.card .background .line.line-2:before {
  top: 32.5%;
}
.card .background .line.line-2:after {
  left: 50%;
}
.card .background .line.line-2:before, .card .background .line.line-2:after {
  transition-delay: 0.15s;
}
.card .background .line.line-3:before {
  top: 55%;
}
.card .background .line.line-3:after {
  right: 22.5%;
}
.card:hover {
  box-shadow: 0px 3px 6px var(--card-hover-box-shadow-1), 0px var(--card-hover-box-shadow-2-y) var(--card-hover-box-shadow-2-blur) var(--card-hover-box-shadow-2), 0 0 0 1px var(--card-hover-border-color);
}
.card:hover .icon::after {
  background-color: var(--card-hover-icon-background-color);
  border-color: var(--card-hover-icon-border-color);
}
.card:hover .icon svg {
  color: var(--card-hover-icon-color);
}
.card:hover .shine {
  opacity: 1;
  transition-duration: 0.5s;
  transition-delay: 0s;
}
.card:hover .background .tiles {
  opacity: 1;
  transition-delay: 0.25s;
}
.card:hover .background .tiles .tile {
  -webkit-animation-name: tile;
          animation-name: tile;
}
.card:hover .background .line {
  opacity: 1;
  transition-duration: 0.15s;
}
.card:hover .background .line:before {
  transform: scaleX(1);
}
.card:hover .background .line:after {
  transform: scaleY(1);
}
.card:hover .background .line.line-1:before, .card:hover .background .line.line-1:after {
  transition-delay: 0s;
}
.card:hover .background .line.line-2:before, .card:hover .background .line.line-2:after {
  transition-delay: 0.15s;
}
.card:hover .background .line.line-3:before, .card:hover .background .line.line-3:after {
  transition-delay: 0.3s;
}

.day-night {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  opacity: 0.3;
}
.day-night input {
  display: none;
}
.day-night input + div {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: relative;
  box-shadow: inset 8px -8px 0 0 var(--text-color);
  transform: scale(1) rotate(-2deg);
  transition: box-shadow 0.5s ease 0s, transform 0.4s ease 0.1s;
}
.day-night input + div:before {
  content: "";
  width: inherit;
  height: inherit;
  border-radius: inherit;
  position: absolute;
  left: 0;
  top: 0;
  transition: background-color 0.3s ease;
}
.day-night input + div:after {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: -3px 0 0 -3px;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0 -23px 0 var(--text-color), 0 23px 0 var(--text-color), 23px 0 0 var(--text-color), -23px 0 0 var(--text-color), 15px 15px 0 var(--text-color), -15px 15px 0 var(--text-color), 15px -15px 0 var(--text-color), -15px -15px 0 var(--text-color);
  transform: scale(0);
  transition: all 0.3s ease;
}
.day-night input:checked + div {
  box-shadow: inset 20px -20px 0 0 var(--text-color);
  transform: scale(0.5) rotate(0deg);
  transition: transform 0.3s ease 0.1s, box-shadow 0.2s ease 0s;
}
.day-night input:checked + div:before {
  background: var(--text-color);
  transition: background-color 0.3s ease 0.1s;
}
.day-night input:checked + div:after {
  transform: scale(1);
  transition: transform 0.5s ease 0.15s;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: inherit;
}
*:before, *:after {
  box-sizing: inherit;
}


.paint{
  background-color: #846540;
}
.main{
  width: 100%;
  height: 0vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8f6e45;
  padding-top: 200px;
  padding-bottom: 200px;
}
.profile-card{
  position: relative;
  width: 220px;
  height: 220px;
  background: #8CCBCD;
  padding: 20px;
  border-radius: 50%;
  box-shadow: 0 0 22px #3336;
  transition: .6s;
  margin: 0 25px;
}
.profile-card:hover{
  border-radius: 10px;
  height: 260px;
}
.profile-card .img{
  position: relative;
  width: 100%;
  height: 90%;
  transition: .6s;
  z-index: 99;
}
.profile-card:hover .img{
  transform: translateY(-60px);
}
.img img{
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 22px #3336;
  transition: .6s;
  
}
.profile-card:hover img{
  border-radius: 10px;
}
.caption{
  text-align: center;
  transform: translateY(-80px);
  opacity: 0;
  transition: .6s;
}
.profile-card:hover .caption{
  opacity: 1;
}
.caption h3{
  font-size: 21px;
  color: #fdfafa;
  padding-top: 20px;
}

.caption p{
  font-size: 16px;
  color: #9b9696;
  margin: 2px 0 9px 0;
}
.caption .social-links a{
  color: #757070;
  margin-right: 8px;
  font-size: 31px;
  transition: .6s;
}
.social-links a:hover{
  color: #000000;
}
.main h1{
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
  margin-left: 30px;
 display:flex;
font-size: 37px;
font-weight: 100;
font-family: "Poppins", sans-serif;
}
.contact {
padding-bottom: 50px;
 position: relative;
}

.contact-title {
  font-size: 3rem;
  font-weight:400;
  text-align: center;
  margin-bottom: 100px;
  color: #ffffff;
  padding-top: 50px;
}

.contact-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-info {
  flex: 1;
  margin-right: 50px;
}

.contact-info h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 100;
  color: #ffffff;
  padding-left: 290px;
}

.contact-list {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #777777;
  font-size: 1rem;
  line-height: 2;
  padding-left: 300px;
}

.contact-list li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.contact-list i {
  font-size: 1.5rem;
  margin-right: 10px;
  color: #5c3dfe;
}

.contact-form {
  flex: 1;
  background-color: #ffffff;
  padding: 50px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-right: 50px;
}

.contact-form h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: #19191a;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 1rem;
  margin-bottom: 5px;
  color: #777777;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
}
.btn {
  background-color: #8CCBCD;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: 100;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.btn:hover {
  background-color: #777777;
}
.about{
  background-color: #8f6e45;
}
.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
  background-color: #8CCBCD;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.about-video {
  width: 50%;
  height: 400px;
  overflow: hidden;
  border-radius: 20px;
}

.about-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-text {
  width: 50%;
  margin-left: 5%;
}

.about-text h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #222;
  font-weight: 400;
}

.about-text p {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #555;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8f6e45;
  color: #fff;
  padding: 20px;
  margin-bottom: -50px;
}

.social-media-icons a {
  color: #fff;
  margin-right: 20px;
  font-size: 1.5rem;
  transition: color 0.2s ease-in-out;
  padding-left: 50px;
}

.social-media-icons a:hover {
  color: #8CCBCD;
}

p {
  font-size: 0.8rem;
  margin: 0;
}
